@media (max-width: 900px){
    #home {
        background-position-x: 70vw;
    }

    #home .content{
        align-items: center;
        text-align: center;
    }

    #home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #home main {
        align-items: center;
    }

    #search-results .cards{
        grid-template-columns: 1fr;
    }
    
    #create-point .field-group{
        flex-direction: column;
    }

    #create-point .field-group .field + .field{
        margin-left: 0;
    }
}

@media (max-height: 670px){
    #home {
        background-position-y: 100px ;
    }


}
